body{
    font-family: Arial, sans-serif;
    background:#0f172a;
    color:white;
    margin:0;
}

.container{
    width:80%;
    max-width:1000px;
    margin:auto;
    padding:40px;
}

h1{
    color:#38bdf8;
}

input{
    padding:12px;
    width:300px;
    border:none;
    border-radius:8px;
}

button{
    padding:12px 20px;
    background:#38bdf8;
    border:none;
    border-radius:8px;
    cursor:pointer;
    margin-left:10px;
}

#result{
    margin-top:30px;
    background:#1e293b;
    padding:20px;
    border-radius:10px;
}
